#workflows-editor-panel {
	form {
		position: relative;
	}
}

.workflows-editor-inspect-process-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.bpmn-icon-text-annotation::before {
	content: '\e86b';
}
