.overview-booklet {
	.overview-title {
		font-weight: bold;
		font-size: 1.1rem;
		margin-bottom: 0;
	}
	.overview-desc {
		color: grey;
		font-size: 0.9em !important;
		margin: 1rem 0;
	}
	.overview-state-layout {
		float: right;
		font-weight: bold;
		label {
			font-size: 1.1rem;
		}
		.workflow-state-active {
			color: green;
		}
		.workflow-state-inactive {
			color: red;
		}
		.oo-ui-popupWidget-popup {
			span {
				font-size: 14px;
			}
		}
	}
	.details-panel {
		background-color: #f7f6f6;
		> .oo-ui-labelWidget {
			display: block;
		}
	}
	table {
		width: 100%;
		font-size: 15px;
		td {
			height: 30px;
			vertical-align: text-top;
		}
		.oo-ui-horizontalLayout > .oo-ui-widget {
			margin-bottom: 0;
		}
	}
	.overview-section-label {
		padding: 10px 0;
		font-weight: bold;
		text-decoration: underline;
		margin-top: 20px;
	}
	.overview-activity-layout {
		background-color: #f7f6f6;
		position: relative;
	}
	.proximity-layout {
		float: right;
		.proximity {
			color: green;
		}
		.proximity-close {
			color: orangered;
		}
		.proximity-overdue {
			color: red;
		}
	}
	.workflow-details-history {
		.history-item {
			font-size: 0.9rem;
		}
		.history-value {
			font-size: 1rem;
			font-weight: bold;
			margin-left: 20px;
		}
	}
	.activity-data-raw-popup {
		float: right;
	}
}
